In [17]:
arkadaslar=["berna sahin", "ozge can","furkan karaca", "eren kalkan","demo demirbas"]
for sinif in arkadaslar:
    print(sinif)

berna sahin
ozge can
furkan karaca
eren kalkan
demo demirbas

In [19]:
kisi_sayisi=0
for sinif in arkadaslar:
    kisi_sayisi=kisi_sayisi+1
    print(kisi_sayisi,sinif)

1 berna sahin
2 ozge can
3 furkan karaca
4 eren kalkan
5 demo demirbas

In [23]:
kisi_sayisi=0
for sinif in arkadaslar:
    kisi_sayisi=kisi_sayisi+1
    ad,soyad= sinif.split()[0], sinif.split()[1]
    print('{0}. arkadaşımın adı {1}, soyadı {2}.'.format(kisi_sayisi,ad,soyad))

1. arkadaşımın adı berna, soyadı sahin.
2. arkadaşımın adı ozge, soyadı can.
3. arkadaşımın adı furkan, soyadı karaca.
4. arkadaşımın adı eren, soyadı kalkan.
5. arkadaşımın adı demo, soyadı demirbas.

In [25]:
liste=[[1,2],[3,4],[5,6],['a','b']]
for x,y in liste:
    print(x)

1
3
5
a

In [37]:
arkadas1={
    'ad': 'Berna',
    'soyad':'Sahin'
}
arkadas1.items()

dict_items([('ad', 'Berna'), ('soyad', 'Sahin')])

In [41]:
for k,v in arkadas1.items():
    print('key: {} \t      value:{}'.format(k,v))

key: ad 	      value:Berna
key: soyad 	      value:Sahin